.container {
  display: grid;
  gap: clamp(12px, 2.5dvw, 24px);
  padding: clamp(12px, 2.5dvw, 24px);
}

.header {
  align-items: center;
  display: flex;
  gap: 6px;
}

.h1 {
  font-size: 2.1rem;
}

.section {
  border: 1px solid #ddd;
  border-radius: 6px;
  display: grid;
  padding: clamp(12px, 2.5dvw, 24px) clamp(12px, 2.5dvw, 24px) 0;
}

.h2 {
  font-size: 1.8rem;
}

.item {
  align-items: center;
  display: grid;
  grid-template: auto / 108px 1fr;
  padding: clamp(12px, 2.5dvw, 24px) 0;
}

.item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.term {
  font-size: 1.2rem;
  font-weight: 700;
}

.description {
  display: flex;
}

.toggleIconContainer {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  height: 100%;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.buttonsContainer {
  display: flex;
  gap: 6px;
}

.button {
  background: var(--foreground);
  border-radius: 50dvmax;
  color: var(--background);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 6px 12px;
  transition: opacity 0.25s ease-in-out;
}

.button:disabled {
  opacity: 0.5;
}

.description2 {
  font-size: 1.2rem;
}

.slider {
  height: 28px;
  margin: 0 5px;
  max-width: 480px;
}
